<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
    </head>
    <body>
        <h1><%= 'Home Page'.toUpperCase()  %></h1>

        <h2>Test no <%=5 + 5%></h2>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias necessitatibus id dolore neque quia facere itaque nisi laboriosam alias tempore quo nulla, modi adipisci mollitia. Similique maiores corrupti accusamus sed!</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nemo quidem excepturi quibusdam maiores in ipsam sint quae officia soluta. Architecto nemo repudiandae quidem dicta facere veniam minima cum incidunt.</p>
    </body>
</html>
