h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 900;
    text-decoration: underline dotted red;
    letter-spacing: 15px;
    font-family: fantasy;
}

h2 {
    font-size: 30px;
    color: cyan;
    text-decoration: rgb(217, 255, 0) wavy underline;
    size: 40px;
}

p {
    font-size: medium;
    font-weight: normal;
    line-height: 1.2;
}

header {
    background-color: cadetblue;
}

section {
    background-color: rgb(123, 39, 161);
}

a {
    text-decoration: none;
    color: rgb(81, 255, 0);
}