h1 {
    width: auto;
    background-color: #9b2226;
    text-align: center;
    margin: auto;
}

div:nth-of-type(1) {
    width: 200px;
    height: 100 px;
    margin: 20px;
    background-color: #00b4d8;

    /*we need these 3 elements for the border to show up*/
    border: 5px solid black;

    /*controls corner of border*/
    border-radius: 10px;

    /*make box size same as the width*/
    box-sizing: border-box;
}

div:nth-of-type(2) {
    width: 200px;
    height: 100 px;
    margin: 20px;
    background-color: #30cc00;

    /*we need these 3 elements for the border to show up*/
    border: 5px dashed red;

    /*controls corner of border*/
    border-radius: 10px;

    /*make box size same as the width*/
    box-sizing: border-box;
}

.borderDemo {
    border: 10px ridge #1C6EA4;
    width: 300px;
    height: 100 px;
    padding: 10px;
    margin: 10px;
    border-radius: 40px 40px 40px 40px;

    /*style each side individually*/
    border-left-style: outset;
}