#container {
    background-color: #e63946;
    width: 90%;
    height: 700px;
    margin: 0 auto;
    border: 5px solid white;

    display: flex;
    flex-direction: row;

    align-content: center;
    justify-content: center;

    flex-wrap: wrap;
}


#container div {
    width: 200px;
    height: 200px;
} 

h1 {
    text-align: center;
}

.customTemplate {
    /*take all the available  space*/
    flex-grow: 1;
}